accelerate==0.30.1
black
cellpose
datasets==2.14.6
diffusers==0.22.0
ipython
ipywidgets
jupyterlab
mahotas
matplotlib
numpy
pandas
torch
scipy
scikit-image
tensorboard==2.12.1  
tifffile
torchvision
tqdm
transformers
ruff
sphinx
sphinx-rtd-theme
pytest
